*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.apk
*.ap_
*.dex
*.class
bin/
gen/
out/
.gradle/
build/
.gradletasknamecache
gradlew
gradlew.bat
gradle/wrapper/gradle-wrapper.jar
